
<mat-card>
    <mat-card-content>

              <!--begin::Modal - Invite Friends-->
    <div class="modal fade" id="kt_modal_invite_friends" tabindex="-1" aria-hidden="true">
      <!--begin::Modal dialog-->
      <div class="modal-dialog mw-650px">
          <!--begin::Modal content-->
          <div class="modal-content">
              <!--begin::Modal header-->
              <div class="modal-header pb-0 border-0 justify-content-end">
                  <!--begin::Close-->
                  <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                      <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                      <span class="svg-icon svg-icon-1">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                              <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                          </svg>
                      </span>
                      <!--end::Svg Icon-->
                  </div>
                  <!--end::Close-->
              </div>
              <!--begin::Modal header-->
              <!--begin::Modal body-->
              <div class="modal-body scroll-y mx-5 mx-xl-18 pt-0 pb-15">
                  <!--begin::Heading-->
                  <div class="text-center mb-13">
                      <!--begin::Title-->
                      <h1 class="mb-3"> Edit product </h1>
                      
                  </div>
                  
                  
                 
                  <!--begin::Users-->
                  <div class="mb-10">
                      <!--begin::Heading-->
                      
                      <!--end::Heading-->
                      <!--begin::List-->
                      <div class="mh-300px scroll-y me-n7 pe-7">
                          <!--begin::User-->
                          <div class="mb-10 fv-row fv-plugins-icon-container">
                              <!--begin::Details-->
                              
                              <label class="required form-label">Name</label>
                              <!--end::Label-->
                              <!--begin::Input-->
                              <input type="text" name="product_name" class="form-control mb-4" placeholder="Product name" value="" formControlName="name">
                            
                              
                          </div>
                          <div class="d-flex gap-8">
                            <div class="mb-10 fv-row fv-plugins-icon-container">
                            <label class="required form-label"> Quantity </label>
                            <input type="number" name="shelf" class="form-control" placeholder="Quantity" value="" formControlName="quantity">
                            
                            </div>
                           
                            <div class="mb-10 fv-row fv-plugins-icon-container">
                            <label class="required form-label"> Price </label>
                            <input type="number" name="warehouse" class="form-control" placeholder="Price" formControlName="price">
                            
                           </div>
                          </div>
                          <div class="fv-row">
                            <div class="mb-10 fv-row fv-plugins-icon-container">
                            <div class="form-check form-check-custom form-check-solid mb-2">
                              <input class="form-check-input" type="checkbox" value="" formControlName="selected">
                              <label class="form-check-label"> Selected </label>
                            </div>
                            </div>
                            
                          </div>
                          <div class="fv-row">
                            <div class="mb-10 fv-row fv-plugins-icon-container">
                            <div class="form-check form-check-custom form-check-solid mb-2">
                              <input class="form-check-input" type="checkbox" value="" formControlName="available">
                              <label class="form-check-label"> Availaible </label>
                            </div>
                            </div>
                            
                          </div>
                          
                          </div>
                          <!--end::User-->
                          <!--begin::User-->
                         
                      <!--end::List-->
                  </div>
                  <!--end::Users-->
                  <!--begin::Notice-->
                  <div class="d-flex flex-stack">
                      <!--begin::Label-->
                      
                      <!--end::Label-->
                      <!--begin::Switch-->
                      <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                        <span class="btn btn-light me-5">Cancel</span>
                        <!--end::Svg Icon-->
                    </div>
                    
                <!--end::Button-->
                
                <!--begin::Button-->
                    <button  type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary">
                      <span class="indicator-label">Save Changes</span>
                      <span class="indicator-progress">Please wait... 
                      <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                    </button>
                      <!--end::Switch-->
                  </div>
                  <!--end::Notice-->
              </div>
              <!--end::Modal body-->
          </div>
          <!--end::Modal content-->
      </div>
      <!--end::Modal dialog-->
  </div>
  <!--end::Modal - Invite Friend-->



    <ng-container *ngIf="productsInput$ | async as result" [ngSwitch]="result.dataState">
      <ng-container *ngSwitchCase="DataStateEnum.LOADING">
        Loanging ...... 
      </ng-container>
      <ng-container *ngSwitchCase="DataStateEnum.ERROR">

        <div class="container-fluid">
            <button mat-raised-button color="warn">
                {{result.errorMessage}} </button>
            <img src="assets/img/error.jpg">
          </div>
      </ng-container>
      <ng-container *ngSwitchCase="DataStateEnum.LOADED">
        <table class="table">
            <thead>
              <tr >
                <th scope="col" class="me-3">#ID</th>
                <th scope="col">NAME</th>
                <th scope="col">QUANTITE</th>
                <th scope="col">PRICE</th>
                <th scope="col">SELECTED</th>
                <th scope="col">AVAILABLE</th>
                <th scope="col">IMAGE</th>
                <th scope="col">IMAGE</th>
              </tr>
            </thead>
            <tbody>
              <app-app-product-item  [product] = p (ProductEmitter)="OnActionEvent($event)" *ngFor="let p of result.data" style="display : contents">

              </app-app-product-item>
             
              
            </tbody>
          </table>
      </ng-container>
      
    </ng-container>
    </mat-card-content>
    </mat-card>
