<nav  class="navbar navbar-light bg-light justify-content-between">
    <ul>
      <li>
        <button (click)="onGetAllProducts()" class="btn btn-outline-info ml-4"> All </button>
      </li>
      <li>
        <button (click)="onGetSelectedProducts()" class="btn btn-outline-info ml-2"> Selected </button>
      </li>
      <li>
        <button (click)="onGetAvailableProducts()" class="btn btn-outline-success ml-2"> Available </button>
      </li>
      
      <li>
        <button (click)="onNewProduct()" class="btn btn-outline-success ml-2"> Available </button>
      </li>
      
    </ul>
    
</nav>